@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,600,600i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:400,700');

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 10rem 0 3rem;
  width: 100%;
  float: left;
  font-family: Montserrat, sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
}

a {
  font-weight: 600;
  text-decoration: none;
  color: $colors-blue;

  &:hover {
    text-decoration: underline;
  }
}